In the block below, both pandas and numpy libraries are loaded into the jupyter notebook

In [1]:
import pandas as pd
import numpy as np

In the block below, the dataframe was read from the provided Wikipedia website, and any Borough's with the name 'Not assigned' were ommitted.

In [2]:
tables=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)
df1=tables[0]
df2=df1[df1['Borough']!='Not assigned']
df2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In the block below, neighborhoods with common Borough's and Postcodes were combined and seperated by a comma,
using the aggregate join command

In [3]:
df3=df2.groupby(['Postcode','Borough']).agg(','.join)

In the block below, any Neighbourhood with the 'Not Assigned' ID were repaced with the Borough name

In [4]:
print(df3[df3['Neighbourhood']=='Not assigned'])

df4=df3.reset_index()
df4.loc[df4['Neighbourhood']=='Not assigned','Neighbourhood']=df4.loc[df4['Neighbourhood']=='Not assigned']['Borough']
df4[df4['Postcode']=='M7A']

                      Neighbourhood
Postcode Borough
M7A      Queen's Park  Not assigned

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

In the block below, the shape command was used to print the number of rows in the dataframe.

In [5]:
df4.shape[0]

103

I was unable to use the Geocoder package, after mulitple attempts.  Accordingly, I used the provided 'Geospatial_Coordinates.csv' file, which I read directly into a dataframe.

In [6]:
geodf=pd.read_csv('Geospatial_Coordinates.csv')
geodf.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In the block below, I merged the dataframes using the postal code in both dataframes.

In [7]:
dfAll=pd.merge(df4,geodf,left_on='Postcode',right_on='Postal Code')
dfAll.drop(columns='Postal Code',inplace=True)
dfAll.rename(columns={'Postcode':'PostalCode'},inplace=True)
dfAll.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476